{% extends "gigs/includes/base.html" %}

{% block content %}
    <form role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_latitude">Latitude:</label>
            <input id="id_latitude" name="latitude" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_longitude">Longitude:</label>
            <input id="id_longitude" name="longitude" type="text" class="form-control">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
    <script language="JavaScript" type="text/javascript">
        navigator.geolocation.getCurrentPosition(function (position) {
            var lat = document.getElementById('id_latitude');
            var lon = document.getElementById('id_longitude');
            lat.value = position.coords.latitude;
            lon.value = position.coords.longitude;
            });
    </script>
{% endblock %}